:root {
    --clr-neon: hsl(120 100% 54%);
    --clr-bg: hsl(120 20% 25%);
    --clr-circle: hsl(304, 100%, 54%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #faebd7;
    overflow: hidden;
    text-align: center;
    background-color: #27282c;
}

h1 {
    font-size: 4rem;
    line-height: 2.4;
}

.btn {
    color: #faebd7;
    cursor: pointer;
    border: 3px solid #faebd7;
    background-color: #27282c;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    transition: 0.25s;
    border-radius: 0.25em;

}

.btn:hover {
    color: var(--clr-neon);
    border-color: var(--clr-neon);
    /*background-color: var(--clr-bg);*/
    box-shadow: 0 0 1em 0 var(--clr-neon);
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background-color: #27282c;
}

.screen.up {
    margin-top: -100vh;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.list li {
    margin: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.stats div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stats div span {
    margin-left: 10px;
    color: var(--clr-neon);
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex: 1;
    background-color: #27282c;
    overflow: hidden;
    cursor: crosshair;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#minimise {
    display: none;

}

.circle {
    /*width: 30px;
    height: 30px;*/
    position: absolute;
    background-color: var(--clr-circle);
    animation: circle 1.5s linear forwards;
    border-radius: 50%;
    box-shadow: 0 0 2em 0 var(--clr-circle);
}

@keyframes circle {
    0% {
        transform: scale(0.25%);
    }

    75% {
        transform: scale(1);
    }
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}

.results p {
    font-size: 2rem;
}

.results p span {
    color: var(--clr-neon);
    margin-left: 10px;
}